.create-recipe-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}



.full-width {
  width: 100%;
}

.form-section {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e0e0e0;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
}

.ingredients-fields-container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e0e0e0;

  @media (max-width: 1000px) {
    flex-wrap: wrap;
    flex: 1 1 100%;

    >mat-form-field:nth-child(2),
    mat-form-field:nth-child(3) {
      flex: 1 1 40%;
    }
  }


}

.row-flex {
  display: flex;
  gap: 10px;
  align-items: center;
}

.step-number {
  font-weight: bold;
  font-size: 1.2rem;
  min-width: 30px;
}

.submit-btn {
  height: 50px;
}